@import url(/assets/fonts/inter.css);
@import url(/css/reset.css);
html {
  font-size: 62.5%; }

body {
  display: flex;
  flex-direction: column;
  font-family: "Inter", Courier, sans-serif;
  font-size: 1.6rem;
  overflow: hidden; }

header .nav {
  background-color: white;
  border-bottom: 3px ridge #122439; }
  header .nav .container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; }
    header .nav .container .btn {
      align-items: center;
      appearance: none;
      background-color: #122439;
      background-size: calc(100% + 2rem) calc(100% + 2rem);
      border-radius: 10rem;
      border-width: 0;
      box-shadow: none;
      box-sizing: border-box;
      color: white;
      cursor: pointer;
      display: inline-flex;
      font-weight: 500;
      font-size: 1.6rem;
      height: auto;
      justify-content: center;
      line-height: 1.5;
      padding: 6px 2rem;
      position: relative;
      text-align: center;
      text-decoration: none;
      transition: background-color 0.2s, background-position 0.2s;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      vertical-align: top;
      white-space: nowrap; }
      header .nav .container .btn:active, header .nav .container .btn:focus {
        outline: none; }
      header .nav .container .btn:hover {
        transform: scale(1.05); }
      header .nav .container .btn:focus:not(:active) {
        box-shadow: rgba(40, 170, 255, 0.25) 0 0 0 0.125em; }
    header .nav .container .btn-menu {
      margin: 1rem; }
      header .nav .container .btn-menu i {
        margin-right: 0.5rem; }
    header .nav .container .title {
      margin: 2rem;
      font-size: 2rem;
      font-weight: bold;
      text-decoration: none;
      color: #122439; }
    header .nav .container .create {
      display: flex;
      align-items: center; }
      header .nav .container .create .profile {
        margin: 1rem 2rem 1rem;
        background-color: #b9c5d7;
        width: 6rem;
        aspect-ratio: 1/1;
        overflow: hidden;
        border-radius: 50%; }
        header .nav .container .create .profile img {
          display: block;
          width: 100%; }

@keyframes FadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes FadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

.FadeIn {
  animation: FadeIn 0.7s cubic-bezier(0.39, 0.575, 0.565, 1) both; }

.FadeOut {
  animation: FadeOut 0.7s cubic-bezier(0.39, 0.575, 0.565, 1) both; }

.main {
  flex: 1;
  background: url("..//assets/img/img-2400x1600.jpg") no-repeat center fixed; }
  .main .container__login {
    z-index: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(10px);
    padding: 2rem 4rem;
    border-radius: 5px;
    border: 1px solid #122439; }
    .main .container__login-title {
      text-align: center;
      margin-bottom: 3rem;
      color: #122439; }
    .main .container__login a {
      text-decoration: none;
      border-bottom: 1px solid #122439;
      color: #122439; }
    .main .container__login .form {
      text-align: center; }
      .main .container__login .form__login .btn {
        align-items: center;
        appearance: none;
        background-color: #122439;
        background-size: calc(100% + 2rem) calc(100% + 2rem);
        border-radius: 10rem;
        border-width: 0;
        box-shadow: none;
        box-sizing: border-box;
        color: white;
        cursor: pointer;
        display: inline-flex;
        font-weight: 500;
        font-size: 1.6rem;
        height: auto;
        justify-content: center;
        line-height: 1.5;
        padding: 6px 2rem;
        position: relative;
        text-align: center;
        text-decoration: none;
        transition: background-color 0.2s, background-position 0.2s;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        vertical-align: top;
        white-space: nowrap; }
        .main .container__login .form__login .btn:active, .main .container__login .form__login .btn:focus {
          outline: none; }
        .main .container__login .form__login .btn:hover {
          transform: scale(1.05); }
        .main .container__login .form__login .btn:focus:not(:active) {
          box-shadow: rgba(40, 170, 255, 0.25) 0 0 0 0.125em; }
      .main .container__login .form__login-btn {
        margin-bottom: 2rem;
        width: 50%; }
      .main .container__login .form__login-control {
        text-align: left;
        position: relative;
        margin: 2rem 0 4rem;
        width: 30rem;
        color: #122439; }
        .main .container__login .form__login-control input {
          background-color: transparent;
          border: 0;
          border-bottom: 2px #798aa6 solid;
          display: block;
          width: 100%;
          font-size: 2rem;
          color: #122439; }
          .main .container__login .form__login-control input:focus {
            outline: none;
            border-bottom-color: #122439; }
          .main .container__login .form__login-control input::placeholder {
            color: #122439;
            font-weight: 100; }
          .main .container__login .form__login-control input:-webkit-autofill {
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: #122439 !important; }
        .main .container__login .form__login-control .fas,
        .main .container__login .form__login-control .far {
          position: absolute;
          margin-top: -3rem; }
        .main .container__login .form__login-control .success-icon,
        .main .container__login .form__login-control .error-icon {
          right: 0; }
        .main .container__login .form__login-control .error-icon,
        .main .container__login .form__login-control .error-message {
          color: #e0eee5; }
        .main .container__login .form__login-control .success-icon {
          color: #ec755d; }
        .main .container__login .form__login-control .error-message {
          font-size: 1.3rem;
          margin-top: 5px; }
        .main .container__login .form__login-control.input-error {
          border: 1px solid #e0eee5; }
          .main .container__login .form__login-control.input-error:focus {
            border: 1px solid #e0eee5; }
      .main .container__login .form__login-text {
        color: #122439;
        text-align: center; }
  .main .container__registration {
    z-index: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(10px);
    padding: 2rem 4rem;
    border-radius: 5px;
    border: 1px solid #122439; }
    .main .container__registration-title {
      text-align: center;
      margin-bottom: 3rem;
      color: #122439; }
    .main .container__registration a {
      text-decoration: none;
      border-bottom: 1px solid #122439;
      color: #122439; }
    .main .container__registration .form {
      text-align: center; }
      .main .container__registration .form__registration .btn {
        align-items: center;
        appearance: none;
        background-color: #122439;
        background-size: calc(100% + 2rem) calc(100% + 2rem);
        border-radius: 10rem;
        border-width: 0;
        box-shadow: none;
        box-sizing: border-box;
        color: white;
        cursor: pointer;
        display: inline-flex;
        font-weight: 500;
        font-size: 1.6rem;
        height: auto;
        justify-content: center;
        line-height: 1.5;
        padding: 6px 2rem;
        position: relative;
        text-align: center;
        text-decoration: none;
        transition: background-color 0.2s, background-position 0.2s;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        vertical-align: top;
        white-space: nowrap; }
        .main .container__registration .form__registration .btn:active, .main .container__registration .form__registration .btn:focus {
          outline: none; }
        .main .container__registration .form__registration .btn:hover {
          transform: scale(1.05); }
        .main .container__registration .form__registration .btn:focus:not(:active) {
          box-shadow: rgba(40, 170, 255, 0.25) 0 0 0 0.125em; }
      .main .container__registration .form__registration-btn {
        margin-bottom: 2rem;
        width: 50%; }
      .main .container__registration .form__registration-control {
        text-align: left;
        position: relative;
        margin: 2rem 0 4rem;
        width: 30rem;
        color: #122439; }
        .main .container__registration .form__registration-control input {
          background-color: transparent;
          border: 0;
          border-bottom: 2px #798aa6 solid;
          display: block;
          width: 100%;
          font-size: 2rem;
          color: #122439; }
          .main .container__registration .form__registration-control input:focus {
            outline: none;
            border-bottom-color: #122439; }
          .main .container__registration .form__registration-control input::placeholder {
            color: #122439;
            font-weight: 100; }
          .main .container__registration .form__registration-control input:-webkit-autofill {
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: #122439 !important; }
        .main .container__registration .form__registration-control .fas,
        .main .container__registration .form__registration-control .far {
          position: absolute;
          margin-top: -3rem; }
        .main .container__registration .form__registration-control .success-icon,
        .main .container__registration .form__registration-control .error-icon {
          right: 0; }
        .main .container__registration .form__registration-control .error-icon,
        .main .container__registration .form__registration-control .error-message {
          color: #e0eee5; }
        .main .container__registration .form__registration-control .success-icon {
          color: #ec755d; }
        .main .container__registration .form__registration-control .error-message {
          font-size: 1.3rem;
          margin-top: 5px; }
        .main .container__registration .form__registration-control.input-error {
          border: 1px solid #e0eee5; }
          .main .container__registration .form__registration-control.input-error:focus {
            border: 1px solid #e0eee5; }
      .main .container__registration .form__registration-text {
        color: #122439;
        text-align: center; }
  .main .section__content {
    width: 60%;
    margin: auto; }
    .main .section__content .users-table {
      border: none;
      text-align: center; }
      .main .section__content .users-table .tableHeader {
        background-color: #122439;
        color: white; }
      .main .section__content .users-table tbody tr:nth-child(odd) {
        background-color: #798aa6;
        padding: 2rem 0; }
      .main .section__content .users-table tbody tr:nth-child(even) {
        background-color: #b9c5d7;
        padding: 2rem 0; }
      .main .section__content .users-table tbody td {
        white-space: nowrap;
        width: 30rem;
        padding: 1rem 0.5rem; }
      .main .section__content .users-table table,
      .main .section__content .users-table tr,
      .main .section__content .users-table td {
        border: none; }
      .main .section__content .users-table .btn {
        align-items: center;
        appearance: none;
        background-color: #122439;
        background-size: calc(100% + 2rem) calc(100% + 2rem);
        border-radius: 10rem;
        border-width: 0;
        box-shadow: none;
        box-sizing: border-box;
        color: white;
        cursor: pointer;
        display: inline-flex;
        font-weight: 500;
        font-size: 1.6rem;
        height: auto;
        justify-content: center;
        line-height: 1.5;
        padding: 6px 2rem;
        position: relative;
        text-align: center;
        text-decoration: none;
        transition: background-color 0.2s, background-position 0.2s;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        vertical-align: top;
        white-space: nowrap; }
        .main .section__content .users-table .btn:active, .main .section__content .users-table .btn:focus {
          outline: none; }
        .main .section__content .users-table .btn:hover {
          transform: scale(1.05); }
        .main .section__content .users-table .btn:focus:not(:active) {
          box-shadow: rgba(40, 170, 255, 0.25) 0 0 0 0.125em; }
      .main .section__content .users-table .edit-user {
        text-decoration: none; }
    .main .section__content .container__userdata {
      backdrop-filter: blur(10px);
      border-radius: 5px;
      border: 1px solid #122439;
      overflow: hidden;
      display: flex;
      justify-content: center;
      padding: 2rem 4rem; }
      .main .section__content .container__userdata-title {
        text-align: center;
        margin-bottom: 2rem;
        color: #122439; }
      .main .section__content .container__userdata-profile {
        margin: auto;
        background-color: white;
        width: 21rem;
        aspect-ratio: 1/1;
        overflow: hidden;
        border-radius: 50%; }
        .main .section__content .container__userdata-profile .image-input {
          display: none; }
        .main .section__content .container__userdata-profile .profile-picture {
          display: block;
          width: 100%;
          cursor: pointer;
          transition: 0.1s ease-in;
          backface-visibility: hidden; }
        .main .section__content .container__userdata-profile:hover .profile-picture {
          opacity: 0.3; }
        .main .section__content .container__userdata-profile:hover .middle {
          opacity: 1; }
        .main .section__content .container__userdata-profile .middle {
          transition: 0.5s ease;
          opacity: 0;
          position: absolute;
          top: 18%;
          left: 48%;
          text-align: center;
          cursor: pointer; }
          .main .section__content .container__userdata-profile .middle .fa-camera {
            font-size: 5rem;
            color: #122439; }
      .main .section__content .container__userdata .form__userdata .container-0,
      .main .section__content .container__userdata .form__userdata .container-1,
      .main .section__content .container__userdata .form__userdata .container-2,
      .main .section__content .container__userdata .form__userdata .container-3 {
        display: flex;
        gap: 4rem; }
      .main .section__content .container__userdata .form__userdata .container-gender,
      .main .section__content .container__userdata .form__userdata .container-hobbies {
        display: flex;
        flex-direction: column; }
        .main .section__content .container__userdata .form__userdata .container-gender .alignment,
        .main .section__content .container__userdata .form__userdata .container-hobbies .alignment {
          display: flex;
          align-items: center; }
        .main .section__content .container__userdata .form__userdata .container-gender label,
        .main .section__content .container__userdata .form__userdata .container-gender input,
        .main .section__content .container__userdata .form__userdata .container-hobbies label,
        .main .section__content .container__userdata .form__userdata .container-hobbies input {
          clear: none;
          width: auto;
          padding: 0.5rem 1rem; }
      .main .section__content .container__userdata .form__userdata-control {
        margin: 2rem 0 2rem;
        width: 30rem;
        color: #122439; }
        .main .section__content .container__userdata .form__userdata-control input {
          background-color: transparent;
          border: 0;
          border-bottom: 2px #798aa6 solid;
          width: 100%;
          font-size: 2rem;
          color: #122439; }
          .main .section__content .container__userdata .form__userdata-control input:focus {
            outline: none;
            border-bottom-color: #122439; }
          .main .section__content .container__userdata .form__userdata-control input::placeholder {
            color: #122439;
            font-size: 1.6rem;
            font-weight: 100; }
          .main .section__content .container__userdata .form__userdata-control input:-webkit-autofill {
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: white !important; }
      .main .section__content .container__userdata .form__userdata .wrapper {
        display: flex;
        justify-content: space-evenly; }
        .main .section__content .container__userdata .form__userdata .wrapper .form__userdata-btn {
          margin-top: 3rem;
          width: 30%;
          padding: 1rem;
          cursor: pointer;
          background: #122439;
          font-family: inherit;
          font-weight: 600;
          border: 0;
          border-radius: 5px;
          color: white; }
          .main .section__content .container__userdata .form__userdata .wrapper .form__userdata-btn:focus {
            outline: 0; }
          .main .section__content .container__userdata .form__userdata .wrapper .form__userdata-btn:active {
            transform: scale(0.98); }
  .main .section__ads {
    flex: 0 0 15vw;
    border-left: 2px solid #122439;
    color: white; }

.footer {
  text-align: center;
  background-color: #122439;
  color: white; }
