@import url(/assets/fonts/inter.css);
@import url(/css/reset.css);
html {
  font-size: 62.5%; }

body {
  display: flex;
  flex-direction: column;
  font-family: "Inter", Courier, sans-serif;
  font-size: 1.6rem; }

header {
  text-align: center;
  background-color: #2b4560; }
  header .nav {
    display: flex;
    justify-content: center; }

.main {
  flex: 1;
  display: flex; }
  .main .container__login {
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #2f6d80;
    padding: 2rem 4rem;
    border-radius: 5px; }
    .main .container__login-title {
      text-align: center;
      margin-bottom: 3rem;
      color: white; }
    .main .container__login a {
      text-decoration: none;
      color: #e1e7e0; }
    .main .container__login .form__login-btn {
      width: 100%;
      display: inline-block;
      padding: 1.5rem;
      margin-bottom: 1.5rem;
      cursor: pointer;
      background: #6aa4b0;
      font-family: inherit;
      font-weight: 600;
      border: 0;
      border-radius: 5px;
      color: #2b4560; }
      .main .container__login .form__login-btn:focus {
        outline: 0; }
      .main .container__login .form__login-btn:active {
        transform: scale(0.98); }
    .main .container__login .form__login-control {
      position: relative;
      margin: 2rem 0 4rem;
      width: 30rem; }
      .main .container__login .form__login-control input {
        background-color: transparent;
        border: 0;
        border-bottom: 2px white solid;
        display: block;
        width: 100%;
        padding: 1.5rem 0 5px;
        font-size: 2rem;
        color: white; }
        .main .container__login .form__login-control input:focus, .main .container__login .form__login-control input:valid {
          outline: 0;
          border-bottom-color: white; }
        .main .container__login .form__login-control input::placeholder {
          color: #2b4560;
          font-weight: 100; }
        .main .container__login .form__login-control input:-webkit-autofill {
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: white !important; }
  .main .container__registration {
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #2f6d80;
    padding: 2rem 4rem;
    border-radius: 5px; }
    .main .container__registration-title {
      text-align: center;
      margin-bottom: 3rem;
      color: white; }
    .main .container__registration a {
      text-decoration: none;
      color: #e1e7e0; }
    .main .container__registration .form__registration-btn {
      width: 100%;
      display: inline-block;
      padding: 1.5rem;
      margin-bottom: 1.5rem;
      cursor: pointer;
      background: #6aa4b0;
      font-family: inherit;
      font-weight: 600;
      border: 0;
      border-radius: 5px;
      color: #2b4560; }
      .main .container__registration .form__registration-btn:focus {
        outline: 0; }
      .main .container__registration .form__registration-btn:active {
        transform: scale(0.98); }
    .main .container__registration .form__registration-control {
      position: relative;
      margin: 2rem 0 4rem;
      width: 30rem; }
      .main .container__registration .form__registration-control input {
        background-color: transparent;
        border: 0;
        border-bottom: 2px white solid;
        display: block;
        width: 100%;
        padding: 1.5rem 0 5px;
        font-size: 2rem;
        color: white; }
        .main .container__registration .form__registration-control input:focus, .main .container__registration .form__registration-control input:valid {
          outline: 0;
          border-bottom-color: white; }
        .main .container__registration .form__registration-control input::placeholder {
          color: #2b4560;
          font-weight: 100; }
        .main .container__registration .form__registration-control input:-webkit-autofill {
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: white !important; }
  .main .container__login {
    top: 50%;
    left: 50%;
    transform: translate(-100%, -50%); }
  .main .container__registration {
    top: 50%;
    left: 50%;
    transform: translate(25%, -50%); }
  .main .container .form__login-text {
    text-align: center; }
  .main .section__menu {
    flex: 0 0 20vw;
    background-color: #e1e7e0; }
  .main .section__content {
    flex: 1 0 65vw;
    background-color: #6aa4b0; }
  .main .section__ads {
    flex: 0 0 15vw;
    background-color: #e1e7e0; }

.footer {
  text-align: center;
  background-color: #2b4560; }
