@mixin form($type, $zindex) {
    &__#{$type} {
        z-index: $zindex;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        background-color: $color-4;
        padding: 2rem 4rem;
        border-radius: 5px;

        &-title {
            text-align: center;
            margin-bottom: 3rem;
            color: $color-light;
        }

        a {
            text-decoration: none;
            color: $color-2;
        }

        .form {
            &__#{$type} {
                &-btn {
                    width: 100%;
                    display: inline-block;
                    padding: 1.5rem;
                    margin-bottom: 1.5rem;
                    cursor: pointer;
                    background: $color-3;
                    font-family: inherit;
                    font-weight: 600;
                    border: 0;
                    border-radius: 5px;
                    color: $color-1;

                    &:focus {
                        outline: 0;
                    }

                    &:active {
                        transform: scale(0.98);
                    }
                }

                &-control {
                    position: relative;
                    margin: 2rem 0 4rem;
                    width: 30rem;

                    input {
                        background-color: transparent;
                        border: 0;
                        border-bottom: 2px $color-light solid;
                        display: block;
                        width: 100%;
                        padding: 1.5rem 0 5px;
                        font-size: $medium-font-size;
                        color: $color-light;

                        &:focus,
                        &:valid {
                            outline: 0;
                            border-bottom-color: $color-light;
                        }

                        &::placeholder {
                            color: $color-1;
                            font-weight: 100;
                        }
                    }
                }
            }
        }
    }
}
