// FONTS
$font-primary: 'Inter', Courier, sans-serif;

$default-font-size: 1.6rem;
$medium-font-size: 2rem;
$large-font-size: 4rem;

// COLOR VARIABLES
$color-1: #2b4560;
$color-2: #e1e7e0;
$color-3: #6aa4b0;
$color-4: #2f6d80;
$color-light: white;
