.main {
    .container {
        &__login {
            z-index: 99;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            background-color: $color-4;
            padding: 2rem 4rem;
            border-radius: 5px;

            &-title {
                text-align: center;
                margin-bottom: 3rem;
            }

            a {
                text-decoration: none;
                color: $color-2;
            }

            .form {
                &__login {
                    &-btn {
                        width: 100%;
                        display: inline-block;
                        padding: 1.5rem;
                        cursor: pointer;
                        background: $color-3;
                        font-family: inherit;
                        border: 0;
                        border-radius: 5px;

                        &:focus {
                            outline: 0;
                        }

                        &:active {
                            transform: scale(0.98);
                        }
                    }

                    &-text {
                        margin-top: 3rem;
                    }

                    &-control {
                        position: relative;
                        margin: 2rem 0 4rem;
                        width: 30rem;

                        input {
                            background-color: transparent;
                            border: 0;
                            border-bottom: 2px white solid;
                            display: block;
                            width: 100%;
                            padding: 1.5rem 0 5px;
                            font-size: $medium-font-size;
                            color: white;

                            &:focus,
                            &:valid {
                                outline: 0;
                                border-bottom-color: lightblue;
                            }
                        }

                        label {
                            position: absolute;
                            top: 1.5rem;
                            left: 0;
                            pointer-events: none;

                            span {
                                display: inline-block;
                                font-size: $medium-font-size;
                                min-width: 5px;
                            }
                        }

                        input:focus + label span,
                        input:valid + label span {
                            color: lightblue;
                            transform: translateY(-3rem);
                            transition: 0.3s
                                cubic-bezier(0.68, -0.55, 0.265, 1.55);
                        }
                    }
                }
            }
        }

        &__registration {
            // z-index: ;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            background-color: $color-4;
            padding: 2rem 4rem;
            border-radius: 5px;

            &-title {
                text-align: center;
                margin-bottom: 3rem;
            }

            a {
                text-decoration: none;
                color: $color-2;
            }

            .form {
                &__registration {
                    &-btn {
                        width: 100%;
                        display: inline-block;
                        padding-top: 1.5rem;
                        cursor: pointer;
                        background: $color-3;
                        font-family: inherit;
                        border: 0;
                        border-radius: 5px;

                        &:focus {
                            outline: 0;
                        }

                        &:active {
                            transform: scale(0.98);
                        }
                    }

                    &-control {
                        position: relative;
                        margin: 2rem 0 4rem;
                        width: 30rem;

                        input {
                            background-color: transparent;
                            border: 0;
                            border-bottom: 2px white solid;
                            display: block;
                            width: 100%;
                            padding-top: 1.5rem;
                            font-size: $medium-font-size;
                            color: white;

                            &:focus,
                            &:valid {
                                outline: 0;
                                border-bottom-color: lightblue;
                            }
                        }

                        label {
                            position: absolute;
                            top: 1.5rem;
                            left: 0;
                            pointer-events: none;

                            span {
                                display: inline-block;
                                font-size: $medium-font-size;
                                min-width: 5px;
                            }
                        }

                        input:focus + label span,
                        input:valid + label span {
                            color: lightblue;
                            transform: translateY(-3rem);
                            transition: 0.3s
                                cubic-bezier(0.68, -0.55, 0.265, 1.55);
                        }
                    }
                }
            }
        }
    }
}
