@import url(/assets/fonts/inter.css);
@import url(/css/reset.css);
@import '__variables';
@import '__mixins';

html {
    font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px;
}

body {
    display: flex;
    flex-direction: column;
    font-family: $font-primary;
    font-size: $default-font-size;
}

header {
    text-align: center;
    background-color: $color-1;

    .nav {
        display: flex;
        justify-content: center;
    }
}

//////////////////////////////////////////
.main {
    flex: 1;
    display: flex;

    .container {
        @include form(login, 1);
        @include form(registration, 1);

        &__login {
            top: 50%;
            left: 50%;
            transform: translate(-100%, -50%);
        }

        &__registration {
            top: 50%;
            left: 50%;
            transform: translate(25%, -50%);
        }

        .form__login-text {
            text-align: center;
        }
    }

    .section {
        &__menu {
            flex: 0 0 20vw;
            background-color: $color-2;
        }

        &__content {
            flex: 1 0 65vw;
            background-color: $color-3;
        }

        &__ads {
            flex: 0 0 15vw;
            background-color: $color-2;
        }
    }
}

.footer {
    text-align: center;
    background-color: $color-1;
}
