@import url(/assets/fonts/inter.css);
@import url(/css/reset.css);
@import '__variables';
@import '__mixins';

html {
    font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px;
}

body {
    display: flex;
    flex-direction: column;
    font-family: $font-primary;
    font-size: $default-font-size;
    // overflow: hidden;
}

header {
    .nav {
        background-color: $color-light;
        border-bottom: 3px ridge $form-color-1;

        .container {
            display: flex;
            flex-direction: row;

            justify-content: space-around;
            align-items: center;

            @include btn($color-light, $form-color-1);

            .btn-menu {
                margin: 1rem;
                i {
                    margin-right: 0.5rem;
                }
            }

            .title {
                margin: 2rem;
                font-size: $medium-font-size;
                font-weight: bold;
                text-decoration: none;
                color: $form-color-1;
            }

            .create {
                display: flex;
                align-items: center;

                .profile {
                    margin: 1rem 2rem 1rem;
                    background-color: $form-color-3;
                    width: 6rem;
                    aspect-ratio: 1/1;
                    overflow: hidden;
                    border-radius: 50%;

                    .profile-picture {
                        object-fit: cover;
                        width: 100%;
                        height: 100%;
                        transition: 0.1s ease-in;
                        backface-visibility: hidden;
                    }
                }
            }
        }
    }
}

//////////////////////////////////////////
@import '__animations';

.main {
    flex: 1;
    // display: flex;
    background: url('..//assets/img/img-2400x1600.jpg') no-repeat center fixed;
    // background-size: auto;

    .container {
        @include form(login, auto);
        @include form(registration, auto);
    }

    .section {
        &__content {
            width: 60%;
            margin: auto;

            .users-table {
                border: none;

                // margin: auto;
                // box-shadow: 0 0 5px 2px $form-color-1;
                text-align: center;

                .tableHeader {
                    background-color: $form-color-1;
                    color: white;
                }

                tbody {
                    tr:nth-child(odd) {
                        background-color: $form-color-2;
                        padding: 2rem 0;
                    }

                    tr:nth-child(even) {
                        background-color: $form-color-3;
                        padding: 2rem 0;
                    }

                    td {
                        white-space: nowrap;
                        width: 30rem;
                        padding: 1rem 0.5rem;
                    }
                }

                table,
                tr,
                td {
                    border: none;
                }

                @include btn($color-light, $form-color-1);

                .edit-user {
                    text-decoration: none;
                }

                @include btn($color-light, $form-color-1);

                .delete-user {
                    text-decoration: none;
                }
            }

            .container {
                &__userdata {
                    backdrop-filter: blur(10px);
                    border-radius: 5px;
                    border: 1px solid $form-color-1;
                    justify-content: center;
                    padding: 2rem 4rem;

                    &-title {
                        text-align: center;
                        margin-bottom: 2rem;
                        color: $form-color-1;
                    }

                    &-profile {
                        margin: auto;
                        background-color: $color-light;
                        width: 15rem;
                        aspect-ratio: 1/1;
                        overflow: hidden;
                        border-radius: 50%;

                        .profile-picture {
                            object-fit: cover;
                            width: 100%;
                            height: 100%;
                            cursor: pointer;
                            transition: 0.1s ease-in;
                            backface-visibility: hidden;
                        }

                        &:hover .profile-picture {
                            opacity: 0.3;
                        }

                        &:hover .middle {
                            opacity: 1;
                        }

                        .middle {
                            // position: relative;
                            transition: 0.5s ease;
                            opacity: 0;
                            position: absolute;
                            top: 11%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            text-align: center;
                            cursor: pointer;

                            .fa-camera {
                                font-size: 5rem;
                                color: $form-color-1;
                            }
                        }
                    }
                    input.image-input {
                        display: none;
                    }

                    .form {
                        &__userdata {
                            .container-0,
                            .container-1,
                            .container-2,
                            .container-3 {
                                display: flex;
                                gap: 4rem;
                                justify-content: center;
                            }

                            .container-gender,
                            .container-hobbies {
                                display: flex;
                                flex-direction: column;

                                .alignment {
                                    display: flex;
                                    align-items: center;
                                }

                                label,
                                input {
                                    clear: none;
                                    width: auto;
                                    padding: 0.5rem 1rem;
                                }
                            }

                            &-control {
                                margin: 2rem 0 2rem;
                                width: 30rem;
                                color: $form-color-1;

                                input {
                                    background-color: transparent;
                                    border: 0;
                                    border-bottom: 2px $form-color-2 solid;
                                    width: 100%;
                                    // padding: 5px 0 5px;
                                    font-size: $medium-font-size;
                                    color: $form-color-1;

                                    &:focus {
                                        outline: none;
                                        border-bottom-color: $form-color-1;
                                    }

                                    &::placeholder {
                                        color: $form-color-1;
                                        font-size: $default-font-size;
                                        font-weight: 100;
                                    }

                                    &:-webkit-autofill {
                                        background-clip: text;
                                        -webkit-background-clip: text;
                                        -webkit-text-fill-color: $color-light !important;
                                    }
                                }
                            }

                            .wrapper {
                                display: flex;
                                justify-content: space-evenly;

                                .form__userdata-btn {
                                    margin-top: 3rem;
                                    width: 30%;
                                    padding: 1rem;
                                    cursor: pointer;
                                    background: $form-color-1;
                                    font-family: inherit;
                                    font-weight: 600;
                                    border: 0;
                                    border-radius: 5px;
                                    color: white;

                                    &:focus {
                                        outline: 0;
                                    }

                                    &:active {
                                        transform: scale(0.98);
                                    }
                                }
                            }
                        }
                    }
                }
                &__photos {
                    .gallery {
                        // outline: 1px solid red;
                        display: grid;
                        grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
                        grid-gap: 1rem;
                        justify-items: center;
                        column-gap: 4rem;
                        row-gap: 2rem;
                        margin-top: 3rem;
                        margin-bottom: 5rem;

                        .gallery__item {
                            // outline: 1px solid red;
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                }
            }
        }

        &__ads {
            flex: 0 0 15vw;
            border-left: 2px solid $form-color-1;
            color: $color-light;
        }
    }
}

.footer {
    text-align: center;
    background-color: $form-color-1;
    color: $color-light;
}
