<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="stylesheet" href="/css/style.css" />
        <title>SkyNet</title>
    </head>

    <template id="HeaderView">
        <nav class="nav">
            <div class="container">
                <div class="create">
                    <h3 class="" id="welcomeMessage">Welcome! <br /><i>{{userName}}</i></h3>
                    <div class="profile">
                        <img
                            src="https://robohash.org/{{userName}}"
                            alt="Portrait of a robot"
                            class="profile-picture"
                        />
                    </div>
                </div>
                <a href="" class="btn btn-menu" id="logoutBtn">
                    <i class="fa-solid fa-sign-out"></i>
                    Logout
                </a>
            </div>
        </nav>
    </template>
    <template id="LoginFormView">
        <div class="container container__login" id="loginAccount">
            <h2 class="container__login-title">Login</h2>
            <form action="#" class="form form__login">
                <!-- Email -->
                <div class="form__login-control">
                    <input
                        data-validation="emailCheck()"
                        id="loginUserName"
                        type="text"
                        placeholder="Email"
                    />
                    <i class="fas fa-exclamation-circle error-icon hide-element"></i>
                    <i class="far fa-check-circle success-icon hide-element"></i>
                    <small class="error-message"></small>
                </div>
                <!-- Password -->
                <div class="form__login-control">
                    <input
                        id="loginPassword"
                        type="password"
                        placeholder="Password"
                        data-validation="noValuesCheck()"
                    />
                    <i class="fas fa-exclamation-circle error-icon hide-element"></i>
                    <i class="far fa-check-circle success-icon hide-element"></i>
                    <small class="error-message"></small>
                </div>
                <!-- Button -->
                <button type="submit" class="btn form__login-btn" id="loginBtn">
                    Login
                </button>
                <!-- Message and Link -->
                <p class="form__login-text">
                    Don't have an account?
                    <a class="form__login-text--link" href="#signup" id="signUpLink">Sign Up!</a>
                </p>
            </form>
        </div>
    </template>
    <template id="SignUpFormView">
        <main class="main" id="main">
            <div class="container container__registration" id="registerAccount">
                <h2 class="container__registration-title">Sign Up</h2>
                <form action="#" class="form form__registration" id="signUpForm">
                    <!-- Email -->
                    <div class="form__registration-control">
                        <input id="signUpEmail" type="text" placeholder="Email" />
                        <i class="fas fa-exclamation-circle error-icon hide-element"></i>
                        <i class="far fa-check-circle success-icon hide-element"></i>
                        <small class="error-message"></small>
                    </div>
                    <!-- Password -->
                    <div class="form__registration-control">
                        <input id="signUpPass" type="password" placeholder="Password" />
                        <i class="fas fa-exclamation-circle error-icon hide-element"></i>
                        <i class="far fa-check-circle success-icon hide-element"></i>
                        <small class="error-message"></small>
                    </div>
                    <!-- Confirm Password -->
                    <div class="form__registration-control">
                        <input
                            id="passwordConfirm"
                            type="password"
                            placeholder="Password Confirmation"
                        />
                        <i class="fas fa-exclamation-circle error-icon hide-element"></i>
                        <i class="far fa-check-circle success-icon hide-element"></i>
                        <small class="error-message"></small>
                    </div>
                    <!-- Button -->
                    <button type="button" class="btn form__registration-btn" id="createAccountBtn">
                        Create account
                    </button>
                    <!-- Message and Link -->
                    <p class="form__registration-text">
                        Already have an account?
                        <a class="form__registration-text--link" href="#login" id="loginLink"
                            >Login!</a
                        >
                    </p>
                </form>
            </div>
        </main>
    </template>
    <script id="UserListView" type="text/template">
        <table class="users-table" id="userTable">
            <thead class="tableHeader">
                <tr>
                    <th scope="col">Email</th>
                    <th scope="col">Password</th>
                    <th scope="col">Name</th>
                    <th scope="col">Surname</th>
                    <th scope="col">Country</th>
                    <th scope="col">Birthday</th>
                    <th scope="col">Gender</th>
                    <th scope="col">Hobbies</th>
                    <th scope="col"></th>

                </tr>
            </thead>
            <tbody id="userList">
                {{ for (var index in Object.values(obj)) { }}
                <tr>
                    <td><b>{{Object.values(obj)[index].userName}}</b></td>
                    <td>{{Object.values(obj)[index].password}}</td>
                    <td>{{Object.values(obj)[index].firstName}}</td>
                    <td>{{Object.values(obj)[index].surname}}</td>
                    <td>{{Object.values(obj)[index].country}}</td>
                    <td>{{Object.values(obj)[index].birthday}}</td>
                    <td>{{Object.values(obj)[index].gender}}</td>
                    <td>{{Object.values(obj)[index].hobbies}}</td>
                    <td>
                        <a
                            href="#users/{{Object.values(obj)[index].userName}}"
                            class="btn edit-user" id="editUserBtn"
                            >Edit</a
                        >
                    </td>
                </tr>
                {{ } }}
            </tbody>
        </table>
    </script>
    <template id="UserRowView">
        <td>{{username}}</td>
        <td>{{password}}</td>
        <td>{{firstName}}</td>
        <td>{{surname}}</td>
        <td>{{country}}</td>
        <td>{{birthday}}</td>
        <td>{{gender}}</td>
        <td>{{hobbies}}</td>
        <td><a href="#userform" class="btn edit-user">Edit</a></td>
    </template>
    <template id="UserFormView">
        <div class="container container__userdata" id="userdataContainer">
            <form autocomplete="off" class="form form__userdata" id="userdataForm">
                <h2 class="container__userdata-title" id="profileName">
                    {{userName}}
                </h2>
                <div class="container__userdata-profile">
                    <label for="imageInput" id="imgContainer">
                        <img
                            src="https://robohash.org/{{userName}}"
                            alt="Profile picture"
                            class="profile-picture"
                        />
                        <div class="middle">
                            <i class="fas fa-camera"></i>
                        </div>
                    </label>
                </div>
                <input
                    class="image-input"
                    name="profileImg"
                    id="imageInput"
                    type="file"
                    accept="image/*"
                />
                <div class="container-0">
                    <!-- Email -->
                    <div class="form__userdata-control">
                        <label class="email" for="email" id="email-label">Email</label>
                        <input
                            type="email"
                            name="email"
                            id="emailInput"
                            class="input"
                            value="{{userName}}"
                            readonly
                        />
                    </div>

                    <!-- Password -->
                    <div class="form__userdata-control">
                        <label class="email" for="email" id="email-label">Password</label>
                        <input
                            type="text"
                            name="password"
                            id="passwordInput"
                            class="input"
                            value="{{password}}"
                            readonly
                        />
                    </div>
                </div>
                <div class="container-1">
                    <!-- First Name -->
                    <div class="form__userdata-control">
                        <label class="firstname" for="firstname" id="firstname-label">Name</label>
                        <input
                            type="text"
                            name="firstname"
                            id="firstName"
                            class="input"
                            placeholder="Enter your name"
                            value="{{firstName}}"
                        />
                    </div>
                    <!-- Last Name -->
                    <div class="form__userdata-control">
                        <label for="lastname" id="lastname-label">Surname</label>
                        <input
                            type="text"
                            name="lastname"
                            id="surname"
                            class="input"
                            placeholder="Enter your surname"
                            value="{{surname}}"
                        />
                    </div>
                </div>

                <div class="container-2">
                    <!-- Country -->
                    <div class="form__userdata-control">
                        <label for="country" id="country-label">Country</label>
                        <input
                            type="text"
                            name="country"
                            id="country"
                            class="input"
                            placeholder="Enter your country"
                            value="{{country}}"
                        />
                    </div>
                    <!-- Date of birth -->
                    <div class="form__userdata-control">
                        <label for="birthday" id="age-label">Date of birth</label>
                        <input
                            type="date"
                            name="birthday"
                            id="birthday"
                            min="1950-01-01"
                            max="2022-12-31"
                            class="input"
                            value="{{birthday}}"
                        />
                    </div>
                </div>

                <div class="container-3">
                    <!-- Gender -->
                    <div class="form__userdata-control">
                        <p>What is your gender?</p>
                        <div class="container-gender">
                            <div class="alignment">
                                {{if (gender.includes("Male")) {var male = "checked"} }}
                                <input
                                    type="radio"
                                    name="gender"
                                    value="Male"
                                    class="radio"
                                    {{Male}}
                                />
                                <label>Male</label>
                            </div>
                            <div class="alignment">
                                {{if (gender.includes("Female")) {var female = "checked"} }}
                                <input
                                    type="radio"
                                    name="gender"
                                    value="Female"
                                    class="radio"
                                    {{Female}}
                                />
                                <label>Female</label>
                            </div>
                        </div>
                    </div>
                    <!-- Hobbies -->
                    <div class="form__userdata-control">
                        <p>What kind of hobbies are you interested in?</p>
                        <div class="container-hobbies">
                            <div class="alignment">
                                {{if (hobbies.includes("sports")) {var sports = "checked"} }}
                                <input
                                    type="checkbox"
                                    name="hobby"
                                    value="sports"
                                    class="checkbox"
                                    {{sports}}
                                />
                                <label>Sports</label>
                            </div>
                            <div class="alignment">
                                {{if (hobbies.includes("gaming")) {var gaming = "checked"} }}
                                <input
                                    type="checkbox"
                                    name="hobby"
                                    value="gaming"
                                    class="checkbox"
                                    {{gaming}}
                                />
                                <label>Gaming</label>
                            </div>
                            <div class="alignment">
                                {{if (hobbies.includes("arts")) {var arts = "checked"} }}
                                <input
                                    type="checkbox"
                                    name="hobby"
                                    value="arts"
                                    class="checkbox"
                                    {{arts}}
                                />
                                <label>Arts</label>
                            </div>
                            <div class="alignment">
                                {{if (hobbies.includes("traveling")) {var traveling ="checked"} }}

                                <input
                                    type="checkbox"
                                    name="hobby"
                                    value="traveling"
                                    class="checkbox"
                                    {{traveling}}
                                />
                                <label>Traveling</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="wrapper">
                    <button type="button" id="submitBtn" class="form__userdata-btn">
                        Update
                    </button>
                    <button type="button" id="cancelBtn" class="form__userdata-btn">
                        Cancel
                    </button>
                </div>
            </form>
        </div>
    </template>

    <body id="body">
        <header id="header"></header>
        <main class="main" id="main">
            <section class="section section__content" id="sectionContent"></section>
            <div id="mainHeader"></div>
        </main>
        <aside class="section section__ads"></aside>
        <footer class="footer">
            <p>Sky.net</p>
        </footer>

        <!-- Font Awesome script -->
        <script src="https://kit.fontawesome.com/426a99cbec.js" crossorigin="anonymous"></script>
        <!-- Application script -->
        <script type="module" src="/js/main.js"></script>
    </body>
</html>
